/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 5, 2022, 7:58:56 AM
    Author     : Yehan_NK
*/


@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100;200;300;400&display=swap');
:root{
    --mainClr:rgba(18,69,174,255);
    --primaryTextClr:#484848;
    --btnPrimaryClr:#3167eb;
    --bs:0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),0.125em 0.125em 0.25em rgba(0,0,0,0.15);
    --btnCloseClr:#ed3713;
}
body{
   font-family:'Montserrat', sans-serif;
   display:flex;
   flex-direction:column;
   min-height:100vh;
   
}
input,select,textArea{
    border-radius:0.1em !important;
}

.bar{
    background:var(--mainClr);
}
header h3{
    letter-spacing:2px;
    font-weight:bold;
}
.logo__img{
    width:5em;
}
.img__text{
    font-size:0.8rem;
}
hr{
    color:#484848;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}

.gap{
    gap:10px;
}
.bs{
    box-shadow:var(--bs) !important;  
        outline:1px solid #ccc;
        border-radius:0.1em;
}
.navbar-nav{
/*    font-family: 'Roboto', sans-serif;*/
    color:#111 !important;
}
.nav-link{
/*    font-size:1.2rem;*/
  text-transform:uppercase;
}
header{
    z-index:100 !important;
}
/* Customizeable model */
.modelBody{
/*    background:#f2f2f2;*/
    border-radius:0.1em;
}

/*customizable card */
.card{
    border-radius:0.2em !important;
    outline:0 !important;
}
#bar{
    transition:transform 350ms ease-in;
    transform-origin:top;
}
.slide{
   transform:scale(1,0);
    
}
.unslide{
    transform:scale(1,1)!important;

}

.card__customize{
    border:0 !important;
    background:#ffff; 
   
}
.card:hover{
    cursor:pointer;
}


.card__image{
   width:100px;    
}

/*showcase*/
.showcase{
    color:#484848;
}

#showcase__img{
    max-width:250px;
    width:100%;
}


.manage{
    color:#484848;
}
/* login css  */
.login__form{
    margin:2em auto;
    max-width:500px;
    color:var(--primaryTextClr);
    outline:1px solid #ccc;
    padding:1em;
    border-radius:0.1em;
    box-shadow:var(--bs); 
    
}
.login__btn,.btn__register{
    background:var(--mainClr);
    border-radius:0.1em;
}
.close__btn{
    background:var(--btnCloseClr);
    border-radius:0.1em;
}

/*sign up css*/
/*.signUp{
    margin-top:10em;
}*/
.second{
    background:rgba(238,238,236,255);
}


/*table sytles*/
@media (max-width: 800px) {
  table {
    width: 100%;
  }
  table thead {
    display: none !important;
  }
  table tbody, table tr, table td {
    display: block;
    width: 100%;
  }
  table tr {
    margin-bottom: 15px !important;
  }
  table td {
    text-align: left;
    position: relative;
  }
}

/* footer css */
.footer {
  margin-top: auto;
  background:#1245ae;
  color: #fff !important;
  text-align: center;
  padding: 1em 0 2em 0;
}
.footer .social-media {
  display: flex;
  gap: 1em;
}
.footer .split {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .footer .split {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer .col {
    text-align: left;
  }
}
.footer ul {
  padding-left: 0;
}
.footer li {
  margin-bottom: 0.5em;
}
.footer a {
  color: #fff;
}



